h1 {
	font-size: 46px;
	font-weight: 700;
	margin: 0 0 16px;
}

h2 {
	font-size: 24px;
	font-weight: 300;
	line-height: 150%;
	margin-bottom: 16px;
}
p {
   font-size: 22px;
   font-weight: 300;
   margin-bottom: 24px;
}